body{
    margin: 0;
    padding: 0;
    color: grey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card-container{
    background-color: rgb(192, 196, 197);
    padding: 5rem;
}

.card-row{
    display: flex;

   
}
.card-item{
    padding: 10px;
    background-color: #fff;
    margin:  25px;
    width: 400px;
    border-radius: 5px;
    height: 340px;
}
.name{
display: flex;
justify-content: space-between;
padding: 0 10px;  
}

.data ul{
    padding: 0 10px;
}
.data li{
padding-right: 10px;
    list-style: none;
    display: inline-block;
}

.content{
    padding: 0 10px;
    width: 350px;
    font-size: small;
}
.radio{
    height: 30px;
    width: 30px;
}
.price li{
    list-style: none;
}
.price{
    display: flex;
    justify-content:space-around ;
    padding: 20px 0;
    align-items: center;
}
.btn{
    background-color: rgb(52, 237, 11);
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    color: white;
}
span{
    font-size: small;
}
