
.learntechnow, .learntechpodcast, .learntechblog{
    width: 400px;
    height: 500px;
    background: white;
    border: 1px solid #252525;
    position: absolute;
    top: 300px;
}

.learntechnow{
    left: 50px;
}

.learntechpodcast{
    left: 500px;
}
.learntechblog{
    left: 950px;
}
.h1lt{
    position: absolute;
    top: 2120px;
    left: 614px;
}

 footer{
    top: 900px;
 }