.monthly, .annual, .lifetime{
    width: 400px;
    height: 500px;
    background: white;
    border: 1px solid transparent;
    position: absolute;
    top: 300px;
} 
.monthly{
    left: 50px;
}
.annual{
    left: 500px;
}
.lifetime{
    left: 950px;
}

footer{
    top: 650px;
}